/* start fonts css */
@font-face {
  font-family: "Cairo";
  src: url('./Assets/Cairo-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Cairo";
  src: url('./Assets/Cairo-Black.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Amiri";
  src: url('./Assets/Cairo-Regular.ttf');
  font-weight: 400;
}

/* Define the default theme variables (dark mode) */
:root {
  --background-color: #Adbbda;
  --text-color: #121212;
  --text-color2: white;
  --card-background-color: #ede8f5;
  --card-text-color: white;
  --navbar-background-color: #ede8f5;
  --navbar-text-color: #ede8f5;
  --button-background-color: #3d52a0;
  --button-text-color: #ffffff;
}

/* Define the light theme variables */
:root[data-theme='light'] {
  --background-color: #212a31;
  --text-color: #d3d9d4;
  --card-background-color: #2e3944;
  --card-text-color: #000000;
  --navbar-background-color: #212a31;
  --button-background-color: #124e66;
  --button-text-color: #ffffff;
}
/* ************ Default CSS ************ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  font-family: 'Cairo', serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 2000px !important;
  }
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--navbar-background-color);
}
.navbar-brand {
  margin: 10px;
}
.navbar-nav {
  display: flex;
  justify-content: center; /* Center the nav links horizontally */
  align-items: center; /* Center the nav links vertically */
  width: 100%; /* Make sure the navbar takes up the full width */
  direction: rtl; /* Set the direction to right-to-left for Arabic */
}

.navbar-nav .nav-link {
  font-weight: 400;
  color: var(--text-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 5.05;
  text-align: center; /* Center text within each link */
  direction: rtl; /* Ensure the text direction is right-to-left */
}
/* Base style for navigation links */
.navbar-link {
  padding: 8px 16px;  /* Add some padding for spacing */
  color: #fff;  /* Text color */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Active link style */
.navbar-link.active {
  background-color: #696969; /* Set background for active link */
  color: #fff; /* Text color for active link */
  border-radius: 4px; /* Optional rounded corners */
}

/* Hover effect for navigation links */
.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0.247); /* Darkened background on hover */
  color: #f0f0f0; /* Lighten text color slightly on hover */
  border-radius: 4px; /* Optional rounded corners on hover */
}

span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #ffffff;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
}

/* The thumb */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

/* When checked, change background color */
input:checked + .slider {
  background-color: var(--card-background-color); /* Light mode color */
}

/* Move the slider thumb to the right when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Icon positioning */
.sun-icon, .moon-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #fff;
  transition: opacity 0.4s;
}

/* Position sun icon on the left */
.sun-icon {
  left: 10px;
  opacity: 0;
  color :yellow
}

/* Position moon icon on the right */
.moon-icon {
  right: 10px;
  opacity: 0;
  color: black;
}

/* Show the sun icon in light mode */
input:checked + .slider .sun-icon {
  opacity: 1;
}

/* Show the moon icon in dark mode */
input:not(:checked) + .slider .moon-icon {
  opacity: 1;
}


/* ********  end of navbar css********** */

/* start  banner css */
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  height: 400px;
  background-image: url('../src/Assets/Pics/storehouse4.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  direction: rtl; /* Ensure the entire banner follows RTL direction */
  text-align: right; /* Align text to the right */
  border-radius: 34px;
  margin-bottom: 10px;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between text and image */
}

.text-content {
  flex: 1; /* Allow text to take up available space */
  text-align: right; /* Align the text to the right */
  margin-top: -101px;
  margin-right: -97px
}

.image-content {
  flex-shrink: 0; /* Prevent the image from shrinking */
  margin-left: 20px; /* Add some space between the text and the image */
  margin-top: -281px;
  height: 10px;
  width: 211px;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 100px;
  background: linear-gradient(90.21deg, rgba(255, 255, 255, 0.5) -5.91%, rgb(16, 27, 33) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 31px;
  display: inline-block;
  margin-right: 174px;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  margin-right: 104px;
  color: var(--text-color2);
}

.banner p {
  color: #a72121;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner img {
  animation: updown 3s linear infinite;
  max-width: 100%;
  height: auto;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* end of banner css */
/* Skills Section */

.skill {
  padding: 185px 0 50px 0;
  position: relative;
}
.skill-bx {
  background: var(--card-background-color);
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: var(--text-color);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* end of skills section */
/************ Projects Css ************/
.project {
  padding: 80px 0;
  margin: 41px;
  margin-top: -26px;

  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}
.fullproject{
  padding: 80px 0;
  margin: 41px;
  margin-top: 117px;

  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}
.fullproject h2{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.contacts {
  flex: 1; /* Each table container takes up equal space */
  margin: 0 10px; /* Add some spacing between table containers */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
  overflow: auto;
  align-items: center;
}

.contacts .tittle {
  background: var(--button-background-color);
  padding: 10px;
  border-radius: 21px;
  margin-bottom: 10px;
  font-size: 16px;
    font-weight: bold;
}

.contacts table th {
  color: var(--button-background-color);
  margin: 8px;
  align-items: center;

}

.contacts table tr {
  margin: 8px;
}


.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}



.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Projects Css ************/

.leadars {
  padding: 80px 0;
  margin: 10px;
  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}

.leadars h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.cardContianer {
  display: flex;
  flex-flow: row; /* Allows wrapping to the next line if needed */
  gap: 17px; /* Space between cards */
  justify-content: center; /* Centers the cards horizontally */
  padding: 20px;
  width: 93%; /* Adjust the width of the container */
  margin: 0 auto; /* Center the container */
}

.leadersCard {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  width: calc(50% - 20px); /* Cards will take 50% width with space for gap */
  max-width: 400px; /* Max width for the card */
}

.leadersCard img {
  width: 100%;
  height: 200px; /* Set height for the image */
  object-fit: fill /* Ensures the image fits the area */
}

.leadersCard .card-body {
  padding: 15px;
  float: right;
}

.leadersCard .card-text {
  margin-bottom: 10px;
  font-size: 9px;
  color: #333;
  float: right;
}


/* sections */
.Sections {
  padding: 80px 0;
  margin: 10px;
  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}

.Sections h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.carousel-wrapper {
  /* ckbaground-color: #f4f4f4; */
  padding: 20px;
  border-radius: 8px;
}

.SectionsCard {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  margin: 0 15px; /* Space between cards */
  border-radius: 8px;
  box-shadow: 0 8px 19px rgba(170, 170, 170, 0.1);
  overflow: hidden; /* Ensures no content spills out */
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures cards have a consistent height */
}

.SectionsCard img {
  width: 100%;
  height: 188px;
  object-fit: cover;
}

.SectionTittle {
  margin: 8px;
  font-weight: bold;
  font-size: 10px; /* Font size set to 10px */
  text-align: center;
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
}


/* Style the button */
.btn-custom {
    background:var(--button-background-color) !important;
    border-color: rgb(255, 255, 255) !important;
    color: white !important;
    padding: 10px 46px !important;
    margin: 10px !important;
    border-radius: 23px !important;
    font-size: 19px !important;
}
.btn-custom:hover {
  background-color: #003366; /* Darker navy for hover effect */
  border-color: #003366; /* Darker navy border color on hover */
}
/* currebt project */
.currentProject {
  padding: 80px 0;
  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}

.currentProject h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.containercontant {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.circle {
  width: 100px;
  height: 58px;
   border-radius: 50%;
   background:var(--button-background-color);
   display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
  font-weight:   
 bold;
 text-align: center;
 margin: 10px;
 font-weight: bold;
}

.rectangle {
  width: 100%;
  height: 50px;
  background:var(--button-background-color);
  color: var(--text-color2);
  text-align: center;
  line-height: 50px;
  border-radius: 29px;
  font-weight: bold;
  cursor: pointer;
}
/* end of current project */

/* about css */
.AboutSm{
  padding: 80px 0;
  margin: 41px;
  margin-top: -62px;
  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}

.AboutSm h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 48px;
  color: var(--text-color);
}
.About{  padding: 80px 0;
  margin: 41px;
  margin-top: 100px;
  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}

.About h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 48px;
  color: var(--text-color);
}

.AboutContant {
  flex: 1; /* Each table container takes up equal space */
  margin: 29px 39px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  text-align: right;
}

.AboutContant img {
  order: 2; /* Ensure the image is on the left */
  margin-left: 10px; /* Optional: Add space between the image and the button */

}

.AboutContant button {
  order: 1; /* Ensure the button is on the right */
  margin-right: 10px; /* Optional: Add space between the image and the button */
  background:var(--button-background-color);
  border-radius: 20px;
  margin: -4px;
  padding: 18px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.Aboutcard {
  background-color: #c2bfc940;
  margin: 50px;
  padding: 31px;
  border-radius: 18px;
  position: relative;
}

.Aboutcard img {
  width: 135px;
  height: 131px;
  margin-top: -115px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ItemsImage{
  width: 139px;
    height: 131px;
    margin-top: 166px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Aboutcard h1{
 font-size: 20px;
 font-weight: bold;
}




.AboutTittle{
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}
.AboutDescription{
  margin: 10px;
  font-size: 20px;
  /* font-weight: bold; */
}

.AboutDescriptionWithimg{
  display: flex;
  justify-content: space-around;
}

.AboutDescriptionWithimg img{
  order: 2;
  height: 178px;
  width: 500px;
  margin-bottom: 51px;
  padding: 22px;
  margin-top: -30px;
}


.TabsCard{
  background-color: #38262640;
  margin: 36px;
  padding: 31px;
  border-radius: 18px;
  height: 100%;
}


.BackButton {
  display: flex;
  justify-content: flex-end;
  margin: 3px;
  padding: 16px;
  margin-bottom: -54px;

}

.BackButton button{
  margin: 5px;
  padding: 14px;
  border-radius: 15px;
  background-color: var(--button-background-color);
}

/* end of about css */

/* start of use page */
.Use{ 
  padding: 80px 0;
  margin: 41px;
 margin-top: 100px;
  position: relative;
  background: var(--card-background-color);
  border-radius: 64px;
}

.Use h2 {
  /* font-size: 45px; */
  font-weight: 700;
  text-align: center;
  margin-top: 48px;
  color: var(--text-color);
}



/* end of use page */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
