/* start fonts css */
@font-face {
  font-family: "Cairo";
  src: url('./Assets/Cairo-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Cairo";
  src: url('./Assets/Cairo-Black.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Amiri";
  src: url('./Assets/Cairo-Regular.ttf');
  font-weight: 400;
}
/* end fonts css */




body {
  margin: 0;
  font-family:'Cairo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
